In [1]:
from exportaciones import EXPORTACIONES

In [2]:
xs = EXPORTACIONES()

xs.donwload_data()

In [5]:
xs.group_by_(["entidad"])

            entidad  year     monto
0    Aguascalientes  2007  4389.841
1    Aguascalientes  2008  4456.893
2    Aguascalientes  2009  3951.104
3    Aguascalientes  2010  5647.933
4    Aguascalientes  2011  6051.639
..              ...   ...       ...
539       Zacatecas  2019  2873.522
540       Zacatecas  2020  3651.331
541       Zacatecas  2021  4263.300
542       Zacatecas  2022  4004.574
543       Zacatecas  2023  1786.142

[544 rows x 3 columns]