In [1]:
from pib import PIB
import pandas as pd

In [2]:
pib = PIB('490dcd21-44b2-fef6-0ade-e6431a8c8fb9')

entidades = (pd.read_parquet("../../data/catalogos/estados/estados.parquet")
            #  .sort_values(by="nom_agee")
             ).nom_agee.apply(lambda x: x.capitalize())

In [3]:
def pib_real():
    df = pd.DataFrame()

    for entidad in entidades:
        print(entidad)
        temp = pib.get_data_estatal(grupo = "estado", entidad=entidad)
        temp["entidad"] = entidad
        df = pd.concat([df,temp])

    return df

df_ = pib_real()

Baja california
Baja california sur
Campeche
Colima
Guerrero
Jalisco
Nayarit
Oaxaca
Quintana roo
Sinaloa
Sonora
Veracruz de ignacio de la llave
Yucatán
Aguascalientes
Coahuila de zaragoza
Chiapas
Chihuahua
Ciudad de méxico
Durango
Guanajuato
Hidalgo
México
Michoacán de ocampo
Morelos
Nuevo león
Puebla
Querétaro
San luis potosí
Tabasco
Tamaulipas
Tlaxcala
Zacatecas

In [7]:
def pib_nom():
    df = pd.DataFrame()

    for entidad in entidades:
        print(entidad)
        temp = pib.get_data_estatal(indicador="PIB anual a precios corrientes", grupo = "estado", entidad=entidad)
        temp["entidad"] = entidad
        df = pd.concat([df,temp])

    return df

df_nom = pib_nom()

Baja california
Baja california sur
Campeche
Colima
Guerrero
Jalisco
Nayarit
Oaxaca
Quintana roo
Sinaloa
Sonora
Veracruz de ignacio de la llave
Yucatán
Aguascalientes
Coahuila de zaragoza
Chiapas
Chihuahua
Ciudad de méxico
Durango
Guanajuato
Hidalgo
México
Michoacán de ocampo
Morelos
Nuevo león
Puebla
Querétaro
San luis potosí
Tabasco
Tamaulipas
Tlaxcala
Zacatecas

In [12]:
df_.to_excel("../../data/pib/pib_realv2.xlsx")
df_nom.to_excel("../../data/pib/pib_nominalv2.xlsx")

In [3]:
df_ = pd.read_excel("../../data/pib/pib_realv2.xlsx", dtype={"periodo":str}).set_index("periodo")

df_nom = pd.read_excel("../../data/pib/pib_nominalv2.xlsx", dtype={"periodo":str}).set_index("periodo")

In [4]:
def ranking(df, sector, year:int):
    ranking = pd.DataFrame()
    year = str(year)
    for entidad in entidades:
        temp = df[df["entidad"] == entidad].loc[[year]]
        temp["entidad"] = entidad
        ranking = pd.concat([ranking,temp])
    
    ranking = ranking.reset_index(drop=True)
    ranking = ranking.set_index("entidad")
    ranking = ranking[[sector]]
    ranking["rank"] = (ranking.rank(method="first", ascending=False))
    ranking = ranking.sort_values(by="rank")

    X = ranking[sector].sum()

    ranking["% nacional"] = (ranking[sector]/X)*100

    return ranking

ranking(df_nom, "Total", 2022)

                                       Total  rank  % nacional
entidad
Ciudad de méxico                 4287768.210   1.0   14.558085
México                           2647537.325   2.0    8.989076
Nuevo león                       2356106.867   3.0    7.999594
Jalisco                          2212640.428   4.0    7.512488
Guanajuato                       1374749.364   5.0    4.667630
Veracruz de ignacio de la llave  1251659.524   6.0    4.249709
Coahuila de zaragoza             1149123.673   7.0    3.901573
Baja california                  1146704.230   8.0    3.893358
Chihuahua                        1125154.076   9.0    3.820190
Sonora                           1019812.220  10.0    3.462527
Puebla                           1007777.219  11.0    3.421665
Tamaulipas                        896648.157  12.0    3.044353
Michoacán de ocampo               810009.658  13.0    2.750193
Tabasco                           720558.157  14.0    2.446482
Querétaro                         717898.041  15.0    2.437450
San luis potosí                   694389.681  16.0    2.357633
Sinaloa                           662088.045  17.0    2.247961
Hidalgo                           513484.626  18.0    1.743413
Oaxaca                            503593.314  19.0    1.709830
Campeche                          489477.862  20.0    1.661904
Yucatán                           461392.144  21.0    1.566546
Chiapas                           454549.421  22.0    1.543313
Quintana roo                      430305.734  23.0    1.461000
Aguascalientes                    384199.614  24.0    1.304457
Guerrero                          381922.345  25.0    1.296725
Durango                           374586.462  26.0    1.271818
Morelos                           312095.989  27.0    1.059647
Zacatecas                         284588.975  28.0    0.966253
Baja california sur               218404.832  29.0    0.741541
Nayarit                           205404.047  30.0    0.697400
Colima                            183104.102  31.0    0.621686
Tlaxcala                          175097.731  32.0    0.594502

In [5]:
def variacion(df, sector:str, year: int):
    df_f = pd.DataFrame()

    yeari = str(year - 1)
    yearf = str(year)

    for entidad in entidades:
        temp = df[df["entidad"] == entidad].loc[[yeari, yearf]]
        temp["entidad"] = entidad
        temp = temp[["entidad",sector]]
        temp["cambio %"] = (temp[sector].pct_change())*100
        # temp = temp.dropna()
        df_f = pd.concat([df_f,temp])
    

    return df_f

variacion(df_, "Total industria manufacturera", 2022)

                     entidad  Total industria manufacturera  cambio %
periodo
2021         Baja california                     330405.218       NaN
2022         Baja california                     342887.949  3.778007
2021     Baja california sur                       3935.328       NaN
2022     Baja california sur                       4027.591  2.344481
2021                Campeche                       4221.670       NaN
...                      ...                            ...       ...
2022              Tamaulipas                     246568.446  6.590693
2021                Tlaxcala                      40845.040       NaN
2022                Tlaxcala                      42138.355  3.166394
2021               Zacatecas                      32725.582       NaN
2022               Zacatecas                      33584.297  2.623987

[64 rows x 3 columns]

In [6]:
def  var_nac():
    df = (variacion(df_, "Total", 2022)
     .reset_index())
    
    sum_2021 = df[df["periodo"] == "2021"]["Total"].sum()
    sum_2022 = df[df["periodo"] == "2022"]["Total"].sum()

    var = ((sum_2022 - sum_2021)/sum_2021)*100

    return var

var_nac()

3.9490002091082275

In [7]:
def participación_sectores(df, entidad, year):
    sectores = ["Total actividades primarias",
                "Total actividades secundarias",
                "Total actividades terciarias"
                ""]

    temp = (df[(df["entidad"] == entidad)]
            .loc[[str(year)]]
            .drop(columns = {"entidad"})).T
    
    total = temp.loc["Total"]
    temp["%_toal"] = (temp/total)*100
    temp = temp.loc[sectores]


    return temp

participación_sectores(df_, "Oaxaca", 2022)

periodo                              2022     %_toal
Total actividades primarias     18411.766   4.521131
Total actividades secundarias  128663.403  31.594147
Total actividades terciarias   243217.449  59.723649

In [8]:
df_nom.columns

Index(['Total', 'Total actividades primarias', 'Total sector 11',
       'Agricultura ', 'Cría y explotación de animales ',
       'Pesca, caza y captura ',
       'Aprovechamiento forestal; Servicios relacionados con las actividades agropecuarias y forestales ',
       'Total actividades secundarias', 'Total Mineria', 'Mineria petrolera',
       'Mineria no petrolera',
       'Generación, transmisión, distribución y comercialización de energía eléctrica, suministro de agua y de gas natural por ductos al consumidor final',
       'Construccion', 'Total industria manufacturera',
       'Industria alimentaria', 'Industria de las bebidas y del tabaco',
       'Fabricación de insumos textiles y acabado de textiles; Fabricación de productos textiles, excepto prendas de vestir',
       'Fabricación de prendas de vestir; Curtido y acabado de cuero y piel, y fabricación de productos de cuero, piel y materiales sucedáneos',
       'Industria de la madera',
       'Industria del papel; Impresión e industrias conexas',
       'Fabricación de productos derivados del petróleo y del carbón; Industria química; Industria del plástico y del hule',
       'Fabricación de productos a base de minerales no metálicos',
       'Industrias metálicas básicas; Fabricación de productos metálicos',
       'Fabricación de maquinaria y equipo; Fabricación de equipo de computación, comunicación, medición y de otros equipos, componentes y accesorios electrónicos; Fabricación de accesorios, aparatos eléctricos y equipo de generación',
       'Fabricación de muebles, colchones y persianas',
       'Otras industrias manufactureras', 'Total actividades terciarias',
       'Comercio al por mayor', 'Comercio al por menor',
       'Transportes, correos y almacenamiento',
       'Información en medios masivos', 'Servicios financieros y de seguros',
       'Servicios inmobiliarios y de alquiler de bienes muebles e intangibles',
       'Servicios profesionales, científicos y técnicos', 'Corporativos',
       'Servicios de apoyo a los negocios y manejo de residuos y desechos, y servicios de remediación',
       'Servicios educativos', 'Servicios de salud y de asistencia social',
       'Servicios de esparcimiento culturales y deportivos, y otros servicios recreativos',
       'Servicios de alojamiento temporal y de preparación de alimentos y bebidas',
       'Otros servicios excepto actividades gubernamentales',
       'Actividades legislativas, gubernamentales, de impartición de justicia y de organismos internacionales y extraterritoriales',
       'entidad'],
      dtype='object')

In [59]:
def actividades_secundarias(df, entidad):
    df = df[df["entidad"] == entidad]
    df = (df.iloc[-1:,7:13]).T
    total = df.loc["Total actividades secundarias"]

    df["% Actividades secundarias"] =  (df/total)*100
    df = df.reset_index()
    df.columns = ["Actividad","PIB 2022", "% Actividades secundarias"]

    return df

actividades_secundarias(df_, "Hidalgo")

,Actividad,PIB 2022,% Actividades secundarias
0,Total actividades secundarias,162546.508,100.000000
1,Total Mineria,5852.344,3.600412
2,Mineria petrolera,0.000,0.000000
3,Mineria no petrolera,5852.344,3.600412
4,"Generación, transmisión, distribución y comerc...",6656.535,4.095157
5,Construccion,37077.154,22.810182

In [60]:
def manufacturas(df, entidad):
    df = df[df["entidad"] == entidad]
    df = (df.iloc[-1:,13:26]).T
    total = df.loc["Total industria manufacturera"]

    df["% manufacturas"] =  (df/total)*100
    df = df.reset_index()
    df.columns = ["Actividad","PIB 2022", "% de industria manufacturera"]

    return df

manufacturas(df_, "Hidalgo")

,Actividad,PIB 2022,% de industria manufacturera
0,Total industria manufacturera,112960.475,100.000000
1,Industria alimentaria,18134.296,16.053665
2,Industria de las bebidas y del tabaco,8388.653,7.426184
3,Fabricación de insumos textiles y acabado de t...,2337.370,2.069193
4,Fabricación de prendas de vestir; Curtido y ac...,2336.524,2.068444
5,Industria de la madera,775.492,0.686516
6,Industria del papel; Impresión e industrias co...,2178.325,1.928396
7,Fabricación de productos derivados del petróle...,50438.612,44.651558
8,Fabricación de productos a base de minerales n...,11871.935,10.509813
9,Industrias metálicas básicas; Fabricación de p...,4799.752,4.249054
10,Fabricación de maquinaria y equipo; Fabricació...,10477.217,9.275118
11,"Fabricación de muebles, colchones y persianas",805.515,0.713095
12,Otras industrias manufactureras,416.784,0.368964

In [39]:
class INFO_PIB:

    def __init__(self) -> None:
        pass


    def _ranking(self, df, sector, year):
        ranking = pd.DataFrame()
        year = str(year)
        for entidad in entidades:
            temp = df[df["entidad"] == entidad].loc[[year]]
            temp["entidad"] = entidad
            ranking = pd.concat([ranking,temp])
        
        ranking = ranking.reset_index(drop=True)
        ranking = ranking.set_index("entidad")
        ranking = ranking[[sector]]
        ranking["rank"] = (ranking.rank(method="first", ascending=False))
        ranking = ranking.sort_values(by="rank")

        X = ranking[sector].sum()

        ranking["% nacional"] = (ranking[sector]/X)*100

        return ranking
    

    def _variacion(self, df, sector, year):
        df_f = pd.DataFrame()
        yeari = str(year - 1)
        yearf = str(year)

        for entidad in entidades:
            temp = df[df["entidad"] == entidad].loc[[yeari, yearf]]
            temp["entidad"] = entidad
            temp = temp[["entidad",sector]]
            temp["cambio %"] = (temp[sector].pct_change())*100
            temp = temp.dropna()
            df_f = pd.concat([df_f,temp])
        

        return df_f
    
    
    def get_ranking(self,
                    df: pd.DataFrame,
                    sector: str|list = "Total", 
                    year: int = 2022,
                    estado: str = "Aguascalientes"
                    ):
        
        ranking = self._ranking(df, sector, year)
        var = ranking.loc[estado][0]
        rank = ranking.loc[estado][1]
        nac =  round(ranking.loc[estado][2],2)

        return [var, rank, nac]
    

    def get_var(self, 
                df: pd.DataFrame,
                sector: str = "Total",
                year: int = 2022,
                estado: str = "Aguascalientes",
                ):
        
        var = self._variacion(df, sector, year).set_index("entidad")
        var = round(var.loc[estado][1], 2)

        return var
    
    def actividades_secundarias(self, 
                                df: pd.DataFrame, 
                                entidad: str = "Aguascalientes"):
        df = df[df["entidad"] == entidad]
        df = (df.iloc[-1:,7:26]).T
        total = df.loc["Total actividades secundarias"]

        df =  (df/total)*100
        df.drop("Total actividades secundarias", inplace=True)
        df.columns = ["% de actividades secundarias"]

        return df
    

    def manufacturas(self,
                     df: pd.DataFrame,
                     entidad: str = "Aguascalientes"):
        
        df = df[df["entidad"] == entidad]
        df = (df.iloc[-1:,13:26]).T
        total = df.loc["Total industria manufacturera"]

        df =  (df/total)*100
        df.drop("Total industria manufacturera", inplace=True)
        df.columns = ["% de industria manufacturera"]

        return df


info = INFO_PIB()

In [45]:
def table_style(df):
    th_props = [
    ('font-size', '16px'),
    ('text-align', 'center'),
    ('font-weight', 'bold'),
    ('color', '#ffffff'),
    ('background-color', '#B38E5D')
    ]

    td_props = [
    ('font-size', '14px')
    ]

    styles = [
    dict(selector="th", props=th_props),
    dict(selector="td", props=td_props)
    ]

    # table
    df = (df.style
        .format(precision=0, thousands=",")
        .set_properties(**{'text-align': 'left'})
        .set_table_styles(styles))
    
    return df

In [46]:
table_style(info.manufacturas(df_, "Hidalgo"))

### Informacion Yucatan

In [50]:
df_.columns

Index(['Total', 'Total actividades primarias', 'Total sector 11',
       'Agricultura ', 'Cría y explotación de animales ',
       'Pesca, caza y captura ',
       'Aprovechamiento forestal; Servicios relacionados con las actividades agropecuarias y forestales ',
       'Total actividades secundarias', 'Total Mineria', 'Mineria petrolera',
       'Mineria no petrolera',
       'Generación, transmisión, distribución y comercialización de energía eléctrica, suministro de agua y de gas natural por ductos al consumidor final',
       'Construccion', 'Total industria manufacturera',
       'Industria alimentaria', 'Industria de las bebidas y del tabaco',
       'Fabricación de insumos textiles y acabado de textiles; Fabricación de productos textiles, excepto prendas de vestir',
       'Fabricación de prendas de vestir; Curtido y acabado de cuero y piel, y fabricación de productos de cuero, piel y materiales sucedáneos',
       'Industria de la madera',
       'Industria del papel; Impresión e industrias conexas',
       'Fabricación de productos derivados del petróleo y del carbón; Industria química; Industria del plástico y del hule',
       'Fabricación de productos a base de minerales no metálicos',
       'Industrias metálicas básicas; Fabricación de productos metálicos',
       'Fabricación de maquinaria y equipo; Fabricación de equipo de computación, comunicación, medición y de otros equipos, componentes y accesorios electrónicos; Fabricación de accesorios, aparatos eléctricos y equipo de generación',
       'Fabricación de muebles, colchones y persianas',
       'Otras industrias manufactureras', 'Total actividades terciarias',
       'Comercio al por mayor', 'Comercio al por menor',
       'Transportes, correos y almacenamiento',
       'Información en medios masivos', 'Servicios financieros y de seguros',
       'Servicios inmobiliarios y de alquiler de bienes muebles e intangibles',
       'Servicios profesionales, científicos y técnicos', 'Corporativos',
       'Servicios de apoyo a los negocios y manejo de residuos y desechos, y servicios de remediación',
       'Servicios educativos', 'Servicios de salud y de asistencia social',
       'Servicios de esparcimiento culturales y deportivos, y otros servicios recreativos',
       'Servicios de alojamiento temporal y de preparación de alimentos y bebidas',
       'Otros servicios excepto actividades gubernamentales',
       'Actividades legislativas, gubernamentales, de impartición de justicia y de organismos internacionales y extraterritoriales',
       'entidad'],
      dtype='object')

In [81]:
yucatan = df_nom[df_nom["entidad"] == "Yucatán"][['Total', 'Total industria manufacturera','Fabricación de insumos textiles y acabado de textiles; Fabricación de productos textiles, excepto prendas de vestir']]
yucatan["% total"] = (yucatan.iloc[:,2]/yucatan.iloc[:,0])*100
yucatan["% manufactura"] = (yucatan.iloc[:,1]/yucatan.iloc[:,0])*100
yucatan

,Total,Total industria manufacturera,"Fabricación de insumos textiles y acabado de textiles; Fabricación de productos textiles, excepto prendas de vestir",% total,% manufactura
periodo,,,,,
2003,110603.098,11486.104,575.367,0.520209,10.384975
2004,121281.924,12634.941,558.328,0.460355,10.417827
2005,134299.364,13724.032,658.099,0.490024,10.218985
2006,146676.350,14687.119,756.183,0.515545,10.013284
2007,160017.756,15799.787,706.739,0.441663,9.873771
2008,171500.851,17210.866,655.879,0.382435,10.035441
2009,181462.700,18861.209,638.591,0.351913,10.393987
2010,193314.432,19673.707,686.200,0.354966,10.177050
2011,205197.013,21220.129,664.714,0.323939,10.341344
2012,222861.448,23100.817,566.786,0.254322,10.365551
2013,235271.557,23263.674,388.626,0.165182,9.888010
2014,255434.223,25515.086,405.572,0.158777,9.988907
2015,272682.938,27870.248,470.121,0.172406,10.220752
2016,303104.546,34569.282,504.663,0.166498,11.405069
2017,332961.869,39739.203,511.616,0.153656,11.935061
2018,364797.901,43669.824,557.967,0.152952,11.970964
2019,382149.517,46500.106,518.457,0.135669,12.168040
2020,367433.133,46307.775,356.444,0.097009,12.603048
2021,412945.643,53296.009,422.033,0.102201,12.906301
2022,461392.144,57964.901,528.236,0.114487,12.563045

In [80]:
yucatan = df_[df_["entidad"] == "Yucatán"][['Total', 'Total industria manufacturera','Fabricación de insumos textiles y acabado de textiles; Fabricación de productos textiles, excepto prendas de vestir']]
yucatan.pct_change()*100

,Total,Total industria manufacturera,"Fabricación de insumos textiles y acabado de textiles; Fabricación de productos textiles, excepto prendas de vestir"
periodo,,,
2003,NaN,NaN,NaN
2004,3.958834,4.399751,-7.024653
2005,4.613039,2.604196,8.470555
2006,4.749661,5.272536,10.584066
2007,2.246570,1.099466,-8.844860
2008,1.562346,0.158899,-12.893660
2009,-2.883971,-0.863418,-12.193213
2010,3.717752,1.885309,4.085621
2011,2.200261,3.207759,-3.777321
2012,3.591457,0.096476,-18.342247
2013,0.933185,-2.460180,-35.337919
2014,3.385820,6.438179,-3.639299
2015,3.010166,9.015072,6.359204
2016,4.349498,14.958257,3.117881
2017,4.013966,7.479525,-3.325775
2018,4.347531,4.080241,1.928164
2019,0.382356,5.622422,-13.330896
2020,-9.006762,-3.976835,-26.355036
2021,7.544136,7.571307,10.999450
2022,3.213606,-0.372119,12.373612